<h1>Editing Vehicle Bank Account</h1>

<%= render 'form', vehicle_bank_account: @vehicle_bank_account %>

<%= link_to 'Show', @vehicle_bank_account %> |
<%= link_to 'Back', vehicle_bank_accounts_path %>
